body {
	font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Lato';
    font-size: 1rem;
    text-align: justify;
}

.divider {
    width: 20px;
}

.submission {
    padding: 1em;
}

.text-submission {
    padding: 6px;
    border-radius: 12px;
    border: 1px solid #c2c2c2;
    background-color: #fafafa;
}

.text-submission:hover{
    border: 1px solid #0074D9;
    background-color: #ffffff;
}

.card-title {
    color: #d34b3b !important;
    font-weight: 700 !important;
    text-align: center;
    padding: 0;
}

.card-title-custom {
    transition: 0.3s;
    font-family: Raleway !important;
    color: #d34b3b !important;
    font-weight: 900 !important;
    padding: 0;
}

.card-title-custom:hover {
    transition: 0.3s;
    font-family: Raleway !important;
    color: #bf3422 !important;
    font-weight: 900 !important;
    padding: 0;
}

.card-img-top {
    width: 100%;
}

.card-text {
    color: #212529 !important;
}

a {
    text-decoration: none !important;
}

.container-custom{
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
}

.dropdown-item:focus {
    background-color: #d34b3b !important;
}


.card {
    border: 0 !important;
    border-radius: 10px;
    margin-bottom: 1px;
}

.adoption {
    padding: 10px;
}

.col-sm{
    padding: 0px !important;
    width: 35%;
}

h1 {
    color: #4b4b4b;
    font-weight: 900;
    margin-bottom: 15px;
    font-family: Raleway;
}

.big {
    font-weight: bold; font-size: 56px; font-family: Raleway; font-weight:black; color: #d34b3b;
}

.text-side {
    padding-left: 30px;
}

nav {
    box-shadow: 0px 0px 20px grey;
}

#landing {
    margin-top: 76px;
    min-height: 100px;
    
    padding: 13rem;
   
    background-image: url(imgs/bg-landing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#landing-feed {
    margin-top: 76px;
    min-height: 100px;
    
    padding: 13rem;
   
    background-image: url(imgs/bg-feed.jpg);
    background-color: #fafafa; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#main {
    background-color: #fafafa;
}


.btn-primary {
    padding: 1.25rem 2rem;
    color: white;
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    background-color: transparent;
    border: 2px solid white;
    font-weight: bold;
}

.btn-primary:hover {
    color: #e13f2b;
    background-color: white;
    border: 2px solid #e13f2b;
}

.like {
    color: #e13f2b;
}

.like:hover {
    color: #bf3422;
}

.image-feed:hover {
    transition: 0.3s;
    opacity: 0.7;
}

.image-feed{
    transition: 0.3s;
}

.btn-primary:focus {
    background-color: white;
    color: dimgrey;
  }

.btn-primary:active {
    background-color: grey !important;
}

.active-drop {
    background-color: #e13f2b;
    color: white;
}

.active-drop:hover {
    background-color: #e13f2b;
    color: white;
}

.container-main {
    margin: 10px;
}

.container-story {
    margin: 10px;
}

.finish {
    background-color: #d34b3b;
}

html {
    scroll-behavior: smooth;
}

/* Sign-Up CSS */
.container-fluid{
    padding: 0px;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.left-image-signup{
    background-image: url("imgs/signup-cat.jpg");
    animation-fill-mode: forwards; 
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.red-sign-up{
    position: absolute;
    z-index: 1000;
    color: white;
    padding-top: 560px;
    padding-left: 40px;
}

#hello-friend{
    font-size: 80px;
    color: white;
    font-weight: bold;
    font-family: lato;
}

.flex-container{
    display: flex;
}

#sign-up-text{
    font-weight: bold; 
    font-size: 64pt; 
    padding-left: 8px;
}

.form-wrapper-signup{
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.entry-forms{
    padding-top: 32px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr{
    margin-top: 4px;
    margin-bottom: 4px;
}

.feed-container {
    margin-top: 7em;
    margin-left: auto;
    margin-right: auto;
}

/* Log In */

.left-image-login{
    background-image: url("imgs/login-cat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.form-wrapper-login{
    padding-top: 172px;
    padding-left: 16px;
    padding-right: 16px;
}

/* Animation Elements */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* More Catfeed CSS */

#caption:focus {
    height: 200px;
}

.message {
    padding-left: 6px;
    color: #B00000;
}

/* Cat Profile*/
.container-cat{
    padding-top: 120px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 48px;
}

.cat-details{
    list-style-type: none;
    margin-top: 12px;
    padding-left: 0px;
}

.cat-details li{
    padding: 8px;
    background-color: #ffcccc;
    width: 296px;
    margin: 5px;
    border-left: 5px solid red;
}

#cat-name-profile{
    font-size: 56px;
    font-weight: 200px;
}

#cat-short-description{
    font-style: italic;
    font-size: 18px;
}

.profile-mini-header{
    font-size: 24px;
    font-weight: bold;
}

#your-cat{
    font-size: 18px;
    text-align: justify;
}

#pusa-thoughts{
    font-size: 18px;
    text-align: justify;
}
