body {
	font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Lato';
    font-size: 1rem;
    
}

.finish {
    
}

.divider {
    width: 20px;
}

.container-custom{
    margin-top: 100px;
    margin-left: 190px;
    margin-right: 190px;
    margin-bottom: 100px;
}


.card {
    padding: 15px;
    border: 0 !important;
    border-radius: 10px;
}

h1 {
    color: #4b4b4b;
    font-weight: bold;
    margin-bottom: 15px;
}

.text-side {
    padding-left: 30px;
}

nav {
    box-shadow: 0px 0px 20px grey;
}

#landing {
    margin-top: 76px;
    min-height: 100px;
    
    padding: 13rem;
   
    background-image: url(imgs/bg-landing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#main {
    background-color: #fafafa;
}

.btn {
  
}

.btn-primary {
    padding: 1.25rem 2rem;
    color: white;
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    background-color: transparent;
    border: 2px solid white;
    font-weight: bold;
}

.btn-primary:hover {
    color: #e13f2b;
    background-color: white;
    border: 2px solid #e13f2b;
}

.btn-primary:focus {
  background-color: white;
  color: dimgrey;
}

.btn-primary:active {
  background-color: grey !important;
}

.container-main {
    margin: 10px;
}

.container-story {
    margin: 10px;
}

.finish {
    background-color: #d34b3b;
}

html {
    scroll-behavior: smooth;
}