body {
	font-family: 'Lato', sans-serif;
}

#landing {
    margin-top: 80px;
    max-height: 38rem;
    padding: 5rem;
   
    background-image: url(imgs/bg-landing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#main {
    margin: 40px;
}


.btn-primary {
    padding: 1.25rem 2rem;
    color: white;
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    background-color: transparent;
    border: 2px solid white;
    font-weight: bold;
}

.btn-primary:hover {
    color: #e13f2b;
    background-color: white;
    border: 2px solid #e13f2b;
}

.btn-primary:focus {
    background-color: white;
    color: dimgrey;
  }

.btn-primary:active {
    background-color: grey !important;
  }

.container-main {
    margin: 10px;
}

html {
    scroll-behavior: smooth;
}

/* Sign-Up CSS */
.container-fluid{
    padding: 0px;
}

.left-image-signup{
    background-image: url("imgs/signup-cat.jpg");
    animation: fadeInAnimation ease 3s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
}

.red-sign-up{
    position: absolute;
    z-index: 1000;
    color: white;
    padding-top: 560px;
    padding-left: 40px;
}

#hello-friend{
    font-size: 80px;
}

.flex-container{
    display: flex;
}

#sign-up-text{
    font-weight: bold; 
    font-size: 64pt; 
    padding-left: 8px;
}

.form-wrapper-signup{
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.entry-forms{
    padding-top: 32px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Log In */

.left-image-login{
    background-image: url("imgs/login-cat.jpg");
    animation: fadeInAnimation ease 3s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
}

.form-wrapper-login{
    padding-top: 172px;
    padding-left: 16px;
    padding-right: 16px;
}

/* Cat Profile*/
.container-cat{
    padding-top: 120px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 48px;
}

.cat-details{
    list-style-type: none;
    margin-top: 24px;
    padding-left: 0px;
}

.cat-details li{
    padding: 8px;
    background-color: #ffcccc;
    width: 296px;
    margin: 5px;
    border-left: 5px solid red;
}

hr{
    height: 4px;
    background-color: red;
    border: none;
}

#cat-name-profile{
    font-size: 56px;
    font-weight: 200px;
}

#cat-short-description{
    font-style: italic;
    font-size: 18px;
}

.profile-mini-header{
    font-size: 24px;
    font-weight: bold;
}

#your-cat{
    font-size: 18px;
    text-align: justify;
}

#pusa-thoughts{
    font-size: 18px;
    text-align: justify;
}